.cursor-pointer {
    cursor: pointer
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background: #3f494f
}

.btn-group.open .dropdown-toggle {
    box-shadow: unset
}

#dropdown-pm {
    background: #343c41
}

#dropdown-pm,
.pm-preview {
    width: 500px
}

@media(max-width:767px) {

    #dropdown-pm,
    .pm-preview {
        max-width: 200px;
        right: 0;
        left: unset
    }
}

.pm-list,
.pm-new-message,
.pm-preview {
    display: inline-block
}

.pm-preview-details {
    padding-top: 2px
}

.conversation-preview-message,
.conversation-preview-message-container,
.pm-preview-message,
.pm-preview-message-container {
    overflow: hidden
}

.conversation-preview-message,
.pm-preview-message {
    white-space: nowrap;
    text-overflow: ellipsis
}

.pm-b-r {
    border-right: 1px solid #2c3036
}

.pm-b-l {
    border-left: 1px solid #2c3036
}

.conversation-read {
    display: none
}

.conversation-top-buffer {
    height: 35px;
    width: 100%
}

.conversation-new-message,
.conversation-preview {
    transition: .2s;
    line-height: 50px
}

#conversation-list,
.conversation-new-message {
    margin-right: 15px
}

.conversation-loading {
    line-height: 50px
}

.conversation-new-message:focus,
.conversation-new-message:hover,
.conversation-preview:focus,
.conversation-preview:hover {
    transition: .2s;
    background: #343c41
}

#pm-list-mobile>.conversation-preview:focus,
#pm-list-mobile>.conversation-preview:hover,
#pm-list>.conversation-preview:focus,
#pm-list>.conversation-preview:hover {
    transition: .2s;
    background: #3f494f
}

#conversation-compose-users,
.conversation-add-user,
.conversation-to {
    display: inline-block
}

.conversation-add-user,
.conversation-to {
    width: 200px
}

.conversation-preview {
    height: 70px;
    line-height: unset
}

.conversation-fullview {
    line-height: unset;
    min-height: 70px;
    position: relative
}

.conversation-preview-author,
.conversation-preview-avatar {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
    overflow: hidden
}

.conversation-fullview>.conversation-fullview-content>.conversation-preview-details>.conversation-preview-author {
    overflow: unset
}

.conversation-preview-details {
    padding-top: 13px
}

.conversation-preview-message-container {
    display: block;
    overflow-wrap: break-word
}

.conversation-fullview-content {
    margin-left: 90px
}

.conversation-timestamp {
    transition: .1s;
    opacity: 0
}

.conversation-fullview:hover .conversation-timestamp,
.conversation-fullview:hover .message-delete,
conversation-fullview:focus .conversation-timestamp,
conversation-fullview:focus .message-delete {
    transition: .1s;
    opacity: 1
}

.conversation-fullview:hover .message-delete:hover,
.conversation-fullview:hover message-delete:focus,
conversation-fullview:focus .message-delete:hover,
conversation-fullview:focus message-delete:focus {
    transition: .1s;
    color: #9acc14
}

.conversation-leave,
.conversation-rename,
.message-delete {
    transition: .1s;
    position: absolute;
    right: 30px;
    opacity: 0
}

.conversation-rename {
    right: 50px
}

.message-delete {
    top: 15px
}

.conversation-preview:hover .conversation-leave,
.conversation-preview:hover .conversation-rename,
conversation-preview:focus .conversation-leave,
conversation-preview:focus .conversation-rename {
    transition: .1s;
    opacity: 1
}

.conversation-preview:hover .conversation-leave:focus,
.conversation-preview:hover .conversation-leave:hover,
.conversation-preview:hover .conversation-rename:focus,
.conversation-preview:hover .conversation-rename:hover,
conversation-preview:focus .conversation-leave:focus,
conversation-preview:focus .conversation-leave:hover,
conversation-preview:focus .conversation-rename:focus,
conversation-preview:focus .conversation-rename:hover {
    transition: .1s;
    color: #9acc14
}

.conversation-unread {
    background: #343c41
}

.notification-dot {
    background: #db524b;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 10px;
    display: none
}

.conversation-group-avatar {
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px
}

.conversation-user-tag {
    transition: .2s;
    border: 1px solid #949ba2;
    border-radius: 3px;
    padding: 5px 10px
}

.conversation-user-tag:focus,
.conversation-user-tag:hover {
    transition: .2s;
    border: 1px solid #db524b
}

.conversation-load-more {
    width: 100%;
    line-height: 50px;
    text-align: center;
    color: #9acc14
}

.btn-send {
    min-width: 50px
}

#back-button {
    display: none
}

.panel-body .scrollbar-inner {
    height: 500px;
    max-height: 500px
}

#conversation-list-container .scrollbar-inner {
    height: 620px;
    max-height: 620px
}

.scrollbar-inner>.scroll-element,
.scrollbar-inner>.scroll-element div {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10
}

.scrollbar-inner>.scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%
}

.scrollbar-inner>.scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%
}

.scrollbar-inner>.scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 8px
}

.scrollbar-inner>.scroll-element .scroll-element_outer {
    overflow: hidden
}

.scrollbar-inner>.scroll-element .scroll-bar,
.scrollbar-inner>.scroll-element .scroll-element_outer,
.scrollbar-inner>.scroll-element .scroll-element_track {
    border-radius: 8px
}

.scrollbar-inner>.scroll-element .scroll-bar,
.scrollbar-inner>.scroll-element .scroll-element_track {
    -ms-filter: "alpha(opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1
}

.scrollbar-inner>.scroll-element .scroll-element_track {
    background-color: #1e2125
}

.scrollbar-inner>.scroll-element .scroll-bar {
    background-color: #343c41
}

.scrollbar-inner>.scroll-element.scroll-draggable .scroll-bar,
.scrollbar-inner>.scroll-element:hover .scroll-bar {
    background-color: #9acc14
}

.scrollbar-inner>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
    left: -12px
}

.scrollbar-inner>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
    top: -12px
}

.scrollbar-inner>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
    left: -12px
}

.scrollbar-inner>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
    top: -12px
}

#conversation-text-new,
#message-text-new {
    display: none
}

.emojionearea-category-title,
.emojionearea-filters,
.emojionearea-picker {
    background: #343c41 !important
}

.emojionearea-filter.active {
    background: #1e2125 !important
}

.emojionearea-search>input {
    border: 0;
    background: #1e2125;
    color: #fff;
    padding-left: 5px
}

.emojionearea-picker {
    box-shadow: unset !important
}

.emojionearea,
.emojionearea-editor {
    background-color: #394147 !important;
    color: #949ba2 !important;
    border: unset !important;
    border-color: unset !important;
    box-shadow: unset !important
}

.emojione {
    width: 16px !important;
    height: 16px !important
}

.avatar-pm-bg {
    background-color: #191c1f
}