<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- STYLE -->

  <link rel="stylesheet" href="/static/htb-backend.css">
  <script src="/static/scripts/jquery.js"></script>

  <!-- ICON -->
  <link rel="icon" href="/static/favicon.ico">
  <title>ROUTER CMS</title>
</head>
<script src="/static/scripts/widgets.js"></script>

<script>
  (function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9&appId=107327349391482"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
</script>
<div class="wrapper">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div id="navbar" class="navbar-collapse collapse">
        <div class="left-nav-toggle">
          <a href="">
            <i class="stroke-hamburgermenu">
            </i>
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a id="nav-vip" href="https://google.com" data-toggle="modal" data-target="#subscribeModal" data-dismiss="modal">
              Internet</a>
          </li>
          <li>
            <a href="https://app.hackthebox.com" class="menutext" target="_blank">
              <i class="far fa-window-maximize" data-toggle="tooltip" data-placement="bottom" data-container="body"
                title="" data-original-title="New UI">
              </i>
              <span class="hide-labels">
                New UI</span>
            </a>
          </li>
          <li>
            <a href=#" class="menutext">
              <i class="far fa-tv" data-toggle="tooltip" data-placement="bottom" data-container="body" title=""
                data-original-title="Pwnbox">
              </i>
              <span class="hide-labels">
                Machines</span>
            </a>
          </li>
          <li>
            <a href="#" class="menutext" data-toggle="modal" data-target="#feedbackModal">
              <i class="far fa-lightbulb" data-toggle="tooltip" data-placement="bottom" data-container="body" title=""
                data-original-title="Feedback">
              </i>
              <span class="hide-labels">
                Idées</span>
            </a>
          </li>
          <li id="testimonialLink">
            <a href="#" class="menutext" data-toggle="modal" data-target="#testimonialModal">
              <i class="far fa-star" data-toggle="tooltip" data-placement="bottom" data-container="body" title=""
                data-original-title="Testimonial">
              </i>
              <span class="hide-labels">
                Rôles</span>
            </a>
          </li>
          <li>
            <a href="#" class="menutext" data-toggle="modal" data-target="#memberFinderModal"
              onclick="setInitialMemberFinderValues()">
              <i class="far fa-search" data-toggle="tooltip" data-placement="bottom" data-container="body" title=""
                data-original-title="Member Finder">
              </i>
              <span class="hide-labels">
                Member Finder</span>
            </a>
          </li>
          <li class="btn-group">
            <a href="#" class="menutext dropdown-toggle" data-toggle="dropdown"
              onclick="$('.notification-dot').fadeOut(200);">
              <i class="far fa-comments" data-toggle="tooltip" data-placement="bottom" data-container="body" title=""
                data-original-title="Messages">
              </i>
              <div class="notification-dot">
              </div>
            </a>
            <div class="dropdown-menu" id="dropdown-pm">
              <div class="pm-header text-right">
                <a class="dropdown-item text-right m-r-md m-t-sm pm-new-message"
                  href="https://www.hackthebox.com/home/messages">
                  New Message</a>
              </div>
              <div id="pm-list">
              </div>
              <div class="pm-footer text-center m-t-sm m-b-sm">
                <a class="dropdown-item text-center" href="https://www.hackthebox.com/home/messages">
                  View All Messages</a>
              </div>
            </div>
          </li>
          <li class="profil-link">
            <a href="#" data-toggle="modal" data-target="#userModal" onclick="getSubscriptionModal()">
              <span class="profile-address profile-address-dark" style="display:inline-block">
                Admin <br>
                <span style="cursor:pointer" class="text-accent">
                  #00001</span>
              </span>
              <img src="/static/images/cb64d97c9825ad567e61d429f93b9b3b.png"
                class="img-rounded avatar_bg" alt="" style="vertical-align:top;">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="https://www.hackthebox.com/home/unsubscribe" id="cancelForm" method="post"
          enctype="multipart/form-data">
          <input type="hidden" name="_token" value="60iwiV4fBYrvUO2OL0N1UdFksfcIcWQl0Ol798PH">
          <div class="modal-header text-center">
            <h4 class="modal-title">
              Cancel Subscription
            </h4>
            <small>
              At Hack The Box, we endeavour to provide the best
              possible experience to our users. If you have any feedback regarding why you cancelled that you'd like to
              give, it would help us to be the best possible platform we can be.</small>
            <br>
          </div>
          <div class="modal-body " id="reason_modal">
            <div class="form-group">
              <span>
                Let us know your reason for cancelling: (optional)</span>
              <select class="select2_os form-control m-t-md" name="reason_list" id="reason_list" style="width: 100%">
                <option value="1" selected="">
                  I do not want to provide any information
                </option>
                <option value="2">
                  Not enough time/taking a break
                </option>
                <option value="3">
                  No longer using the service
                </option>
                <option value="4">
                  Issues with service
                </option>
                <option value="5">
                  Financial Reasons
                </option>
                <option value="6">
                  Other
                </option>
              </select>
              <br>
              <div id="reason_textarea" style="display: none;">
                <textarea id="cancellationReason" name="reason" class="form-control" rows="3"
                  placeholder="Type your reason for cancelling here... (optional)">
                        </textarea>
                <span id="cancellationCount" class="small text-success">
                  255</span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <i class="far fa-times">
              </i>
            </button>
            <button type="submit" class="btn btn-accent" id="cancellationBtn">
              <i class="far fa-paper-plane">
              </i>
              Cancel Subscription</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="resumeModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="https://www.hackthebox.com/home/resume" method="post" enctype="multipart/form-data">
          <input type="hidden" name="_token" value="60iwiV4fBYrvUO2OL0N1UdFksfcIcWQl0Ol798PH">
          <div class="modal-header text-center">
            <h4 class="modal-title">
              Resume Subscription
            </h4>
          </div>
          <div class="modal-body">
            <p>
              By resuming your paused subscription, you will be immediately billed for your next month. Your VIP
              benefits will be reinstated as soon as this payment is processed.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <i class="far fa-times">
              </i>
            </button>
            <button type="submit" class="btn btn-accent" id="resumeBtn">
              <i class="fas fa-arrow-up">
              </i>
              Resume Subscription</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="upgradeModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="https://www.hackthebox.com/home/upgrade" method="post" enctype="multipart/form-data">
          <input type="hidden" name="_token" value="60iwiV4fBYrvUO2OL0N1UdFksfcIcWQl0Ol798PH">
          <div class="modal-header text-center">
            <h4 class="modal-title">
              Upgrade Subscription
            </h4>
          </div>
          <div class="modal-body">
            <p>
              By upgrading your subscription from Monthly to Annual, you agree to be charged £100 minus any remaining
              credit on your existing VIP subscription. This subscription will automatically renew.
            </p>
            <br>
            <br>
            <p>
              <strong>
                Upgrades to subscriptions are permanent - if you wish to downgrade you must wait until the Annual
                subscription expires</strong>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <i class="far fa-times">
              </i>
            </button>
            <button type="submit" class="btn btn-accent" id="upgradeBtn">
              <i class="fas fa-arrow-up">
              </i>
              Upgrade Subscription</button>
          </div>
        </form>
      </div>
    </div>
  </div> -->
  <aside class="navigation">
    <nav>
      <ul class="nav luna-nav">
        <li class="nav-info" style="margin-top:0px !important; background-color: transparent !important;">
          <div>
            Server: <span class="text-success" id="vpnServer">{{server_name}}</span><br>
          </div>
        </li>
        <li class="nav-category"> <img src="/images/cube-mobile.png" width="14px"> Main </li>
        <li class="active"> <a href="/home">Dashboard</a> </li>
        <li class=""> <a href="https://www.hackthebox.com/home/rules">Rules</a> </li>
        <li> <a href="https://help.hackthebox.eu">HelpCenter</a> </li>
        <li>
          <a href="#main_nav" data-toggle="collapse" aria-expanded="false"> Other <span class="sub-nav-icon"> <i
                class="stroke-arrow"></i> </span> </a>
          <ul id="main_nav" class="nav nav-second collapse ">
            <li class=""> <a href="https://www.hackthebox.com/home/changelog">Change Log</a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/badges/list">Badges</a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/ideas">Feature Requests</a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/announcements">Announcements</a> </li>
          </ul>
        </li>
        <hr>
        <li>
          <a href="#edu_nav" class="nav-category" data-toggle="collapse" aria-expanded="false"> <i
              class="pe-7s-study"></i> Education <span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span> </a>
          <ul id="edu_nav" class="nav nav-second collapse ">
            <li> <a href="https://academy.hackthebox.com/" target="_blank">Academy<span
                  class="badge badge-accent pull-right">NEW</span></a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/universities/list">Universities </a> </li>
            <li class=""> </li>
          </ul>
        </li>
        <hr>
        <li>
          <a href="#careers_nav" class="nav-category" data-toggle="collapse" aria-expanded="false"> <i
              class="pe-7s-portfolio"></i> Careers <span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span> </a>
          <ul id="careers_nav" class="nav nav-second collapse ">
            <li class=""> <a href="https://www.hackthebox.com/home/careers/optin">Looking for a Job? </a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/careers/joboffers">Job Offers <span
                  class="badge pull-right">197</span> </a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/careers/companies">Companies</a> </li>
          </ul>
        </li>
        <hr>
        <li>
          <a href="#rankings_nav" class="nav-category" data-toggle="collapse" aria-expanded="false"> <i
              class="pe-7s-graph2"></i> Rankings <span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span> </a>
          <ul id="rankings_nav" class="nav nav-second collapse ">
            <li class=""> <a href="https://www.hackthebox.com/home/hof">Hall of Fame</a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/teams/rankings">Team</a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/universities/rankings">University</a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/country/rankings">Country</a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/vip/rankings">VIP</a> </li>
            <li>
              <a href="#prorankings_nav" data-toggle="collapse" aria-expanded="false"> Pro Lab <span
                  class="sub-nav-icon"> <i class="stroke-arrow"></i> </span> </a>
              <ul id="prorankings_nav" class="nav nav-third collapse ">
                <li class=""><a href="https://www.hackthebox.com/home/labs/pro/rankings/1">RastaLabs</a></li>
                <li class=""><a href="https://www.hackthebox.com/home/labs/pro/rankings/2">Offshore</a></li>
                <li class=""><a href="https://www.hackthebox.com/home/labs/pro/rankings/3">Cybernetics</a></li>
                <li class=""><a href="https://www.hackthebox.com/home/labs/pro/rankings/4">Dante</a></li>
                <li class=""><a href="https://www.hackthebox.com/home/labs/pro/rankings/5">APTLabs</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <hr>
        <li class="nav-category"> <i class="pe-7s-network"></i> Labs </li>
        <li class=""> <a href="/home/start" target="_blank">Starting Point<span
              class="badge badge-accent pull-right">NEW</span></a> </li>
        <li class=""> <a href="https://www.hackthebox.com/home/htb/access">Access</a> </li>
        <li class=""> <a href="https://www.hackthebox.com/home/tracks">Tracks</a> </li>
        <li> <a href="https://app.hackthebox.com/battlegrounds" target="_blank">Battlegrounds</a> </li>
        <li>
          <a href="#machines_nav" data-toggle="collapse" aria-expanded="false"> Machine <span class="sub-nav-icon">
              <i class="stroke-arrow"></i> </span> </a>
          <ul id="machines_nav" class="nav nav-second collapse ">
            <li class=""><a href="https://www.hackthebox.com/home/machines/release"><span
                  class="badge badge-accent pull-right">NEW</span>Release Arena</a></li>
            <li class=""><a href="https://www.hackthebox.com/home/machines"><span
                  class="badge pull-right">292</span>All</a></li>
            <li class=""><a href="https://www.hackthebox.com/home/machines/unreleased"><span
                  class="badge pull-right">2</span>Unreleased</a></li>
            <li class=""><a href="https://www.hackthebox.com/home/machines/owned"><span
                  class="badge pull-right">0</span>Owned</a></li>
            <li class=""><a href="https://www.hackthebox.com/home/machines/submissions"><span
                  class="badge pull-right">38</span>Submissions</a></li>
            <li><a href="https://app.hackthebox.com/machines/submission/overview">New Submission</a></li>
          </ul>
        </li>
        <li>
          <a href="#challenges_nav" data-toggle="collapse" aria-expanded="false"> Challenges <span class="sub-nav-icon">
              <i class="stroke-arrow"></i> </span> </a>
          <ul id="challenges_nav" class="nav nav-second collapse ">
            <li class=""> <a href="https://www.hackthebox.com/home/challenges/Reversing"> <span
                  class="badge pull-right">21</span> Reversing </a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/challenges/Crypto"> <span
                  class="badge pull-right">30</span> Crypto </a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/challenges/Pwn"> <span
                  class="badge pull-right">34</span> Pwn </a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/challenges/Web"> <span
                  class="badge pull-right">28</span> Web </a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/challenges/Misc"> <span
                  class="badge pull-right">16</span> Misc </a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/challenges/Forensics"> <span
                  class="badge pull-right">16</span> Forensics </a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/challenges/Mobile"> <span
                  class="badge pull-right">6</span> Mobile </a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/challenges/OSINT"> <span
                  class="badge pull-right">0</span> OSINT <i class="far fa-star text-gold"></i> </a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/challenges/Hardware"> <span
                  class="badge pull-right">14</span> Hardware </a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/challenges/GamePwn"> <span
                  class="badge pull-right">5</span> GamePwn </a> </li>
            <li class=""><a href="https://www.hackthebox.com/home/challenges/unreleased"><span
                  class="badge pull-right">1</span>Unreleased</a></li>
            <li class=""><a href="https://www.hackthebox.com/home/challenges/submissions"><span
                  class="badge pull-right">32</span>Submissions</a></li>
            <li class=""><a href="https://www.hackthebox.com/home/challenges/submit">New Submission</a></li>
          </ul>
        </li>
        <li>
          <a href="#endgame_nav" data-toggle="collapse" aria-expanded="false"> Endgame <span class="sub-nav-icon"> <i
                class="stroke-arrow"></i> </span> </a>
          <ul id="endgame_nav" class="nav nav-second collapse ">
            <li class=""> <a href="https://www.hackthebox.com/home/endgame/view/1"> P.O.O. <span class="badge"
                  style="border-color:#848c94;color:#848c94;">VIP</span> </a></li>
            <li class=""> <a href="https://www.hackthebox.com/home/endgame/view/2"> Xen <span class="badge"
                  style="border-color:#848c94;color:#848c94;">VIP</span> </a></li>
            <li class=""> <a href="https://www.hackthebox.com/home/endgame/view/3"> Hades <span class="badge"
                  style="border-color:#848c94;color:#848c94;">VIP</span> </a></li>
            <li class=""> <a href="https://www.hackthebox.com/home/endgame/view/4"> RPG <span class="badge"
                  style="border-color:#848c94;color:#848c94;">VIP</span> </a></li>
            <li class=""> <a href="https://www.hackthebox.com/home/endgame/view/5"> Ascension </a></li>
            <li class=""> <a href="https://www.hackthebox.com/home/endgame/view/6"> Odyssey </a></li>
            <li class=""> <a href="https://www.hackthebox.com/home/endgame/view/7"> Solar </a></li>
          </ul>
        </li>
        <li>
          <a href="#fortress_nav" data-toggle="collapse" aria-expanded="false"> Fortress <span class="sub-nav-icon">
              <i class="stroke-arrow"></i> </span> </a>
          <ul id="fortress_nav" class="nav nav-second collapse ">
            <li class=""> <a href="https://www.hackthebox.com/home/careers/company/3"> Jet </a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/careers/company/61"> Akerva </a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/careers/company/9"> Context </a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/careers/company/195"> Synacktiv </a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/careers/company/28"> Faraday <span class="badge"
                  style="border-color:#9acc14;color:#9acc14;">NEW</span> </a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/careers/company/206"> AWS </a> </li>
          </ul>
        </li>
        <li>
          <a href="#pro_lab_nav" data-toggle="collapse" aria-expanded="false"> Pro Labs <span class="sub-nav-icon">
              <i class="stroke-arrow"></i> </span> </a>
          <ul id="pro_lab_nav" class="nav nav-second collapse ">
            <li class=""> <a href="https://www.hackthebox.com/home/labs/pro/view/1"> RastaLabs </a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/labs/pro/view/2"> Offshore </a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/labs/pro/view/3"> Cybernetics </a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/labs/pro/view/4"> Dante </a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/labs/pro/view/5"> APTLabs <span class="badge"
                  style="border-color:#9acc14;color:#9acc14;">NEW</span> </a> </li>
          </ul>
        </li>
        <hr>
        <li>
          <a href="#social_nav" class="nav-category" data-toggle="collapse" aria-expanded="false"
            id="socialLocalStorage"> <i class="pe-7s-portfolio"></i> Social <span class="sub-nav-icon"> <i
                class="stroke-arrow"></i> </span> </a>
          <ul id="social_nav" class="nav nav-second collapse  in">
            <li class=""> <a href="/admin/messages">Private Messages</a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/shoutbox">Shoutbox</a> </li>
            <li class=""> <a href="https://www.hackthebox.com/home/forum"><i class="far fa-comments"></i> Forum</a>
            </li>
            <li> <a href="https://discord.gg/hRXnCFA" target="_blank"><i class="fab fa-discord"></i> Discord</a> </li>
            <li> <a class="slack-link" href="https://chat.netsecfocus.com/join" target="_blank"><i
                  class="far fa-comment-alt"></i> NetSecFocus</a> </li>
            <li> <a class="twitter-link" href="https://twitter.com/hackthebox_eu" target="_blank"><i
                  class="fab fa-twitter"></i> Twitter</a> </li>
            <li> <a class="linkedin-link" style="color:#0077b5;" href="https://www.linkedin.com/company/hackthebox/"
                target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a> </li>
            <li> <a class="facebook-link" style="color:#3B5998;" href="https://www.facebook.com/hackthebox.eu"
                target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a> </li>
            <li> <a class="instagram-link" style="color:#8134af;" href="https://www.instagram.com/hackthebox/"
                target="_blank"><i class="fab fa-instagram"></i> Instagram</a> </li>
          </ul>
        </li>
        <li class="nav-info">
          <img src="/images/Cube-Icon-RGB-1024.png" width="32px"> 
          <!-- Icon à gauche du titre -->
          <div class="m-t-xs"> <span class="c-white">Router CMS</span> Est une application faite pour le router azerty-relation personel. Elle permet de gérer les services grâce à l'imbircation de plusieurs blocs...
          </div>
        </li>
      </ul>
    </nav>
  </aside>
  <section class="content">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
        {% for category, message in messages %}
        <div class="alert alert-{{category}}" role="alert">
            {{message}}
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
  </section>
</div>
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title">Feedback Form</h4>
        <small>Please send your suggestions, ideas and comments!</small><br>
      </div>
      <div class="modal-body">
        <small><span class="text-gold">Note: </span> please submit feature requests <a
            href="https://www.hackthebox.com/home/ideas">here</a>.</small><br><br>
        <div class="form-group"> <textarea id="feedbackText" class="form-control" rows="3"
            placeholder="Type your comment, suggestion or idea here..."></textarea><br> <span id="feedbackCount"
            class="small text-success">255</span> </div>
      </div>
      <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal"><i
            class="far fa-times"></i></button> <button onclick="sendFeedback()" id="feedbackBtn" type="button"
          class="btn btn-accent"><i class="far fa-paper-plane"></i> Send</button> </div>
    </div>
  </div>
</div>
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title">Control Panel: martinc</h4>
        <small>Manage and view settings related to your
          account.</small><br>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <h4>Actions</h4>
            <p><i class="far fa-user"></i> <a href="https://www.hackthebox.com/home/users/profile/1120396">View My
                Profile</a>
            </p>
            <p><i class="far fa-cog"></i> <a href="https://www.hackthebox.com/home/settings">Settings</a></p>
            <p><i class="far fa-lock"></i> <a href="/logout" class="logOut">Log Out</a></p>
            <br>
            <h4>Vault</h4>
            <p><i class="far fa-lock"></i> <a href="https://www.hackthebox.com/home/vault/personal">Manage Personal
                Vault</a>
            </p>
            <br>
            <h4>Pwnbox</h4>
            <p><i class="far fa-tv"></i> <a href="https://www.hackthebox.com/home/pwnbox">Manage Pwnbox</a></p>
          </div>
          <div class="col-lg-6">
            <h4>Subscription</h4>
            <span class="subscriptionSpinner"><i class="fa-spin fas fa-circle-notch"></i></span>
            <span class="subscriptionInfo"></span> <br>
            <p><i class="far fa-question-circle text-info"></i> <a href="#" data-toggle="modal" data-target="#vipModal"
                data-dismiss="modal" onclick="getSubscriptionModal()">What is VIP?</a></p>
          </div>
          <div class="col-lg-12 text-center m-t-md" id="recurlyBalanceControlPanel" style="display:none;"> You have
            <span class="text-warning">-</span> credit remaining on your account
          </div>
        </div>
      </div>
      <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal"><i
            class="far fa-times"></i></button> </div>
    </div>
  </div>
</div>
<div class="modal fade" id="vipModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title">VIP Subscription</h4>
        <small>VIP Subscriptions give members some perks to aid in their
          HTB experience.</small><br>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center"></th>
              <th style="width: 85px;" class="text-center">FREE</th>
              <th style="width: 85px;" class="text-center">VIP</th>
              <th style="width: 85px;" class="text-center">VIP+</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Isolated VIP Servers</td>
              <td style="width: 85px;"></td>
              <td style="width: 85px;" class="text-center"><i class="fas fa-check text-accent"></i></td>
              <td style="width: 85px;" class="text-center"><i class="fas fa-check text-accent"></i></td>
            </tr>
            <tr>
              <td>Retired Machines &amp; Challenges</td>
              <td style="width: 85px;"></td>
              <td style="width: 85px;" class="text-center"><i class="fas fa-check text-accent"></i></td>
              <td style="width: 85px;" class="text-center"><i class="fas fa-check text-accent"></i></td>
            </tr>
            <tr>
              <td>Official Write-Ups for Retired Machines and Retired Endgames</td>
              <td style="width: 85px;"></td>
              <td style="width: 85px;" class="text-center"><i class="fas fa-check text-accent"></i></td>
              <td style="width: 85px;" class="text-center"><i class="fas fa-check text-accent"></i></td>
            </tr>
            <tr>
              <td>Separate Rankings</td>
              <td style="width: 85px;"></td>
              <td style="width: 85px;" class="text-center"><i class="fas fa-check text-accent"></i></td>
              <td style="width: 85px;" class="text-center"><i class="fas fa-check text-accent"></i></td>
            </tr>
            <tr>
              <td>Unlimited Machine Resets</td>
              <td style="width: 85px;"></td>
              <td style="width: 85px;" class="text-center"><i class="fas fa-check text-accent"></i></td>
              <td style="width: 85px;" class="text-center"><i class="fas fa-check text-accent"></i></td>
            </tr>
            <tr>
              <td>Personal Instances</td>
              <td style="width: 85px;" class="text-center"></td>
              <td style="width: 85px;" class="text-center"></td>
              <td style="width: 85px;" class="text-center"><i class="fas fa-check text-accent"></i></td>
            </tr>
            <tr>
              <td><a href="/home/pwnbox" target="_blank">Pwnbox</a></td>
              <td style="width: 85px;" class="text-center">2hrs</td>
              <td style="width: 85px;" class="text-center"><span style="color:#9FEF00">24hrs</span> Monthly</td>
              <td style="width: 85px;" class="text-center"><span style="color:#9FEF00">Unlimited</span></td>
            </tr>
          </tbody>
        </table>
        <br>
        <h4>Subscription</h4>
        <span class="subscriptionSpinner"><i class="fa-spin fas fa-circle-notch"></i></span> <span
          class="subscriptionInfo"></span>
      </div>
      <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal"><i
            class="far fa-times"></i></button> </div>
    </div>
  </div>
</div>
<div class="modal fade" id="upgradeToVipPlusModal" tabindex="-1" role="dialog" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog" style="width: 850px;">
    <div class="modal-content">
      <div class="modal-header text-center">
        <div style="display: flex; align-items: center; justify-content: center; margin-left: -18px;">
          <div style="margin: 0 10px; color: #fff;" class="subscription-type"> <span style="font-size: 36px;">Upgrade to
              VIP<span style="color:#FFAF00">+</span></span>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-5">
            <div style="display: flex; justify-content: center"> <img src="/images/ic-vip+-big.svg" width="100px">
            </div>
            <div style="display: flex; justify-content: center; margin-bottom: 24px;">
              <h4>VIP+ FEATURES &amp; BENEFITS</h4>
            </div>
            <ul class="pwnbox-features">
              <li style="margin-bottom: 12px;">
                <div style="display: flex; align-items: center;">
                  <div style="margin-right: 12px;"> <i style="color: #FFAF00" class="fal fa-crown"></i> </div>
                  <div>
                    <ul>
                      <li><span style="font-weight: 600; color:#fff">Personal Instances</span></li>
                      <li>Machines available always on demand.</li>
                    </ul>
                  </div>
                </div>
              </li>
              <li style="margin-bottom: 12px;">
                <div style="display: flex; align-items: center;">
                  <div style="margin-right: 12px;"> <i style="color: #FFAF00" class="fal fa-crown"></i> </div>
                  <div>
                    <ul>
                      <li><span style="font-weight: 600; color:#fff">Pwnbox Access</span></li>
                      <li>Unlimited Pwnbox Access.</li>
                    </ul>
                  </div>
                </div>
              </li>
              <li style="margin-bottom: 12px;">
                <div style="display: flex; align-items: center;">
                  <div style="margin-right: 12px;"> <i style="color: #9FEF00" class="fas fa-check text-accent"></i>
                  </div>
                  <div>
                    <ul>
                      <li><span style="font-weight: 600; color:#fff">Unlimited Lab Access</span></li>
                      <li>Play all the retired HTB labs with no restriction.</li>
                    </ul>
                  </div>
                </div>
              </li>
              <li style="margin-bottom: 12px;">
                <div style="display: flex; align-items: center;">
                  <div style="margin-right: 12px;"> <i style="color: #9FEF00" class="fas fa-check text-accent"></i>
                  </div>
                  <div>
                    <ul>
                      <li><span style="font-weight: 600; color:#fff">Official Write-Ups &amp; Video Walkthroughs</span>
                      </li>
                      <li>Retired content explained.</li>
                    </ul>
                  </div>
                </div>
              </li>
              <li style="margin-bottom: 12px;">
                <div style="display: flex; align-items: center;">
                  <div style="margin-right: 12px;"> <i style="color: #9FEF00" class="fas fa-check text-accent"></i>
                  </div>
                  <div>
                    <ul>
                      <li><span style="font-weight: 600; color:#fff">CPE Credits</span></li>
                      <li>Automatically submit CPE credit hours to ISC².</li>
                    </ul>
                  </div>
                </div>
              </li>
              <li style="margin-bottom: 12px;">
                <div style="display: flex; align-items: center;">
                  <div style="margin-right: 12px;"> <i style="color: #9FEF00" class="fas fa-check text-accent"></i>
                  </div>
                  <div>
                    <ul>
                      <li><span style="font-weight: 600; color:#fff">Advanced Search</span></li>
                      <li>Multi-tag filtering to select Retired Machines.</li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <div style="display: flex; align-items: center;">
                  <div style="margin-right: 12px;"> <i style="color: #9FEF00" class="fas fa-check text-accent"></i>
                  </div>
                  <div>
                    <ul>
                      <li><span style="font-weight: 600; color:#fff">Unlimited Machine Resets</span></li>
                      <li>Reset as much as you need.</li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-xs-7">
            <div style="margin-bottom: 24px" class="text-center">
              <h4>Subscription Plan</h4>
            </div>
            <div style="margin-bottom: 80px;"> <span>Hack The Box VIP+ helps you grow as a hacker and a cyber security
                professional. Experience unlimited <span style="color: #fff">Pwnbox access</span> and <span
                  style="color: #fff">personal instances!</span> </span>
            </div>
            <div class="subscription-plan-container" style="height: 250px; margin: unset;margin-bottom: 24px;"> </div>
          </div>
        </div>
      </div>
      <div class="modal-footer"> <button class="btn btn-default" id="closeUpgradeToVipPlusModal"><i
            class="far fa-times"></i></button> </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirm-upgrade" tabindex="-1" role="dialog" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Confirm Upgrade to VIP+</h4>
      </div>
      <div class="modal-body"> </div>
      <div class="modal-footer">
        <form action="https://www.hackthebox.com/home/upgradeToVipPlus" method="post" enctype="multipart/form-data"
          style="display: inline-block;"> <input type="hidden" name="_token"
            value="60iwiV4fBYrvUO2OL0N1UdFksfcIcWQl0Ol798PH"> <button type="submit"
            class="btn btn-success">Confirm</button> </form>
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="far fa-times"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="subscribeModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <div id="subscriptionPlanHeaderPage1">
          <div style="font-size: 13px;letter-spacing: 1px;font-weight: 500">SUBSCRIPTION PLANS</div>
          <div style="font-size: 20px;letter-spacing: 1px;font-weight: 600; color: #fff; margin: 12px 0;">Do More With
            VIP On Hack The Box
          </div>
          <div style="font-size: 13px;font-weight: 400;margin-bottom: 12px;">Play HTB for free or go VIP to take full
            control of your hacking training
          </div>
          <div style="font-size: 13px;font-weight: 400;"> <i class="far fa-question-circle text-info"></i> <a href="#"
              data-toggle="modal" data-target="#vipModal" data-dismiss="modal" onclick="getSubscriptionModal()">What is
              VIP?</a>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div id="subscriptionPlanPage1">
          <div class="row"
            style="display: flex; align-items: center; justify-content:center; height: 80px; margin-top: -24px; margin-bottom: 72px;">
            <div id="monthlySubType" class="col-xs-3 border-button-left selectedSubType" style="cursor: pointer;"
              onclick="goMonthly()">
              <div style="display: flex; align-items: center; justify-content: center;height: 50px;"> <span
                  id="monthlySubTypeText" class="selectedSubTypeText">Monthly</span> </div>
            </div>
            <div id="annualSubType" class="col-xs-3 border-button-right" style="cursor: pointer;" onclick="goAnnual()">
              <div style="display: flex; align-items: center; justify-content: center;height: 50px;"> <span
                  id="annualSubTypeText">Annual</span> </div>
            </div>
          </div>
          <div class="subscription-plan-container" style="margin-bottom: 32px;">
            <div class="subscription-plan" style="position: relative;">
              <div class="subscription-plan-logo"> <img src="/images/ic-vip-big.svg" width="100px"> </div>
              <div class="subscription-content">
                <div class="subscription-type"> <span>VIP</span> </div>
                <div class="subscription-details">
                  <div> <span style="display: inline-block; padding-top: 4px;">£</span> </div>
                  <div> <span id="vipMonthlyPrice" class="subscription-price">10</span> <span id="vipAnnualPrice"
                      class="subscription-price" style="display: none;">100</span> </div>
                  <div> <span id="vipMonthlyDuration">/mo</span> <span id="vipAnnualDuration"
                      style="display: none;">/yr</span> </div>
                </div>
                <div style="margin-left: 8px;padding-top: 24px;"> <span style="color:#fff;" id="vipMonthlyDetail">Billed
                    every month</span> <span style="color:#fff;display: none;" id="vipAnnualDetail">Billed every
                    year</span>
                </div>
                <div style="margin-left: 8px;padding-top: 12px;"> <span>Cancel any time</span> </div>
                <div style="margin-left:8px; padding-top: 24px;"> <button onclick="goVip()" type="button"
                    class="btn btn-success">GET STARTED</button> </div>
                <div style="padding-top: 24px;padding-left: 6px;"> <span style="color: #fff;"><i class="far fa-check"
                      style="color: #9FEF00"></i> 24hrs Pwnbox</span> </div>
                <div style="padding-top: 8px;padding-left: 6px;"> <span style="color: #fff;"><i class="far fa-check"
                      style="color: #9FEF00"></i> Shared instances</span> </div>
              </div>
              <div class="annualFreeMonths"
                style="position: absolute; bottom: -52px; margin: auto;background-color: rgba(0, 134, 255, 0.1);padding: 5px 8px;color: rgb(0, 134, 255);letter-spacing:1px; display: none;">
                <span>2 MONTHS FREE</span>
              </div>
            </div>
            <div class="subscription-plan">
              <div class="subscription-plan-logo"> <img src="/images/ic-vip+-big.svg" width="100px"> </div>
              <div class="subscription-content">
                <div class="subscription-type"> <span>VIP<span style="color:#FFAF00">+</span></span> </div>
                <div class="subscription-details">
                  <div> <span style="display: inline-block; padding-top: 4px;">£</span> </div>
                  <div> <span id="vipPlusMonthlyPrice" class="subscription-price">15</span> <span
                      id="vipPlusAnnualPrice" class="subscription-price" style="display: none;">150</span> </div>
                  <div> <span id="vipPlusMonthlyDuration">/mo</span> <span id="vipPlusAnnualDuration"
                      style="display: none;">/yr</span> </div>
                </div>
                <div style="margin-left: 8px;padding-top: 24px;"> <span id="vipPlusMonthlyDetail"
                    style="color:#fff;">Billed every month</span> <span id="vipPlusAnnualDetail"
                    style="color:#fff; display: none;">Billed every year</span> </div>
                <div style="margin-left: 8px;padding-top: 12px;"> <span>Cancel any time</span> </div>
                <div style="margin-left:8px; padding-top: 24px;"> <button onclick="goVipPlus()" type="button"
                    class="btn btn-success">GET STARTED</button> </div>
                <div style="padding-top: 24px;padding-left: 6px;"> <span style="color: #fff;"><i class="far fa-check"
                      style="color: #9FEF00"></i> Unlimited Pwnbox</span> </div>
                <div style="padding-top: 8px;padding-left: 6px;"> <span style="color: #fff;"><i class="far fa-check"
                      style="color: #9FEF00"></i> Personal instances</span> </div>
              </div>
              <div class="annualFreeMonths"
                style="position: absolute; bottom: -52px; margin: auto;background-color: rgba(0, 134, 255, 0.1);padding: 5px 8px;color: rgb(0, 134, 255);letter-spacing:1px; display: none;">
                <span>2 MONTHS FREE</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer"> <button class="btn btn-default" id="closeSubscriptionModal"><i
            class="far fa-times"></i></button> </div>
    </div>
  </div>
</div>
<div class="modal fade" id="giftModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title">Purchase Gift Card</h4>
        <small>Sharing is Caring! Choose the amount you wish to load on
          to the Gift Card below.</small><br><br> <u><small>Please note: all Gift Cards are non-refundable and only
            redeemable for products / services on Hack The Box.</small></u>
        <form id="giftForm" role="form" method="GET"
          action="https://hackthebox.recurly.com/purchase/gift_card/gift-card/1120396">
          <input type="hidden" name="email" value="martinus.cremers@outlook.fr">
          <div class="modal-body">
            <div class="tabs-container">
              <div class="panel-body">
                <div class="text-center">
                  <div class="form-group">
                    <select class="form-control" name="amount">
                      <option value="1000">£10 - 1 Month VIP</option>
                      <option value="1500" selected="">£15 - 1 Month VIP+</option>
                      <option value="3000">£30</option>
                      <option value="6000">£60</option>
                      <option value="9000">£90 - 1 Month Pro Lab</option>
                      <option value="10000">£100 - 1 Year VIP</option>
                      <option value="15000">£150 - 1 Year VIP+</option>
                      <option value="29000">£290 - 1 Year Pro Lab</option>
                    </select>
                  </div>
                </div>
                <br>
              </div>
            </div>
          </div>
          <div class="modal-footer"> <button type="submit" class="btn btn-success"><i
                class="far fa-shopping-cart text-gold"></i> Purchase</button> <button type="button"
              class="btn btn-default" data-dismiss="modal"><i class="far fa-times"></i></button> </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="voucherModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title">Redeem Voucher</h4>
        <small>Enter your Voucher below in order to redeem.</small><br>
        <small>If you already have an active subscription that the Voucher provides, you will need to wait for this to
          expire first.</small>
        <form id="voucherForm" role="form" method="POST" action="https://www.hackthebox.com/home/redeem">
          <input type="hidden" name="_token" value="60iwiV4fBYrvUO2OL0N1UdFksfcIcWQl0Ol798PH">
          <div class="modal-body">
            <div class="tabs-container">
              <div class="panel-body">
                <div class="text-center"> <input type="text" class="form-control" id="voucherCode" name="voucherCode"
                    placeholder="Type your Voucher code here" data-toggle="tooltip" data-original-title="" title="">
                </div>
                <br>
                <div id="voucherDetails"></div>
              </div>
            </div>
          </div>
          <div class="modal-footer"> <button type="submit" id="redeemBtn" class="btn btn-success" disabled=""><i
                class="fas fa-ticket text-gold"></i> Redeem</button> <button type="button" class="btn btn-default"
              data-dismiss="modal"><i class="far fa-times"></i></button> </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title">Update Card</h4>
        <small>Payments are handled by <span class="text-info"><i class="far fa-closed-captioning-stripe"></i>
            Stripe</span>. We do not store any credit card
          details.</small><br>
      </div>
      <div class="modal-body">If you wish to update your card details, you will need to cancel your subscription, and
        resubscribe with our new payment gateway. You will retain your subscription benefits until the end date of your
        subscription.
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="testimonialModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title">Leave your Testimonial!</h4>
        <small>We will display this to the public part of our
          website. We will include the name and text you enter here <span class="c-white">along with your avatar and
            username.</span></small>
      </div>
      <div class="modal-body">
        <span id="ratingLabel">Rating:</span> <i class="far fa-star" id="star1" onclick="rateStar(1)"
          style="cursor: pointer"></i> <i class="far fa-star" id="star2" onclick="rateStar(2)"
          style="cursor: pointer"></i> <i class="far fa-star" id="star3" onclick="rateStar(3)"
          style="cursor: pointer"></i> <i class="far fa-star" id="star4" onclick="rateStar(4)"
          style="cursor: pointer"></i> <i class="far fa-star" id="star5" onclick="rateStar(5)"
          style="cursor: pointer"></i> <br> <br> <input type="text" class="form-control" id="reviewName"
          placeholder="Type your name here... (eg. John M.) !DO NOT TYPE YOUR USERNAME!" data-toggle="tooltip" title=""
          data-original-title="This will appear publicly!"> <br>
        <textarea id="reviewText" class="form-control" rows="3"
          placeholder="Write a small testimonial here... 50-255 chars"></textarea>
        <span id="reviewCount" class="small text-danger">255</span>
        <div class="checkbox checkbox-success"> <input name="publish" id="publish" class="styled" type="checkbox">
          <label for="publish" id="publishLabel"> I understand that this will be available publicly. </label>
        </div>
      </div>
      <div class="modal-footer"> <button type="button" class="btn btn-success" id="publishBtn" onclick="publishReview()"
          disabled="">Publish</button> <button type="button" class="btn btn-default" data-dismiss="modal"><i
            class="far fa-times"></i></button> </div>
    </div>
  </div>
</div>
<div class="modal fade" id="memberFinderModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title">Find Members of Hack The Box!</h4>
        <small>Find other members by providing their <span class="c-white">username</span>.</small><br>
      </div>
      <div class="modal-body"> <input type="text" id="memberFinderText" class="form-control"
          placeholder="Type a username here..."><br> <small>Profile Link: <span id="memberFinderLink"></span></small>
      </div>
    </div>
  </div>
</div>
<div class="v2-cta-container" style="display:none;">
  <div class="v2-cta-panel text-center">
    <img src="https://www.hackthebox.com/images/logo-htb.svg" height="40px">
    <div class="v2-cta-title">Hack The Box New UI</div>
    <p style="margin-bottom:50px;">Enjoy a seamless gamified experience on our new platform.</p>
    <div class="row">
      <div class="col-sm-12 col-md-6"> <a href="https://app.hackthebox.com/" target="_blank"
          class="v2-button-green pull-right" id="acceptv2CTA">Try It</a> </div>
      <div class="col-sm-12 col-md-6"> <a href="#" class="v2-button pull-left" id="closev2CTA">No Thanks</a> </div>
    </div>
  </div>
</div>
<div class="modal fade" id="adBlockModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center">Hack The Box Technical Support</h5>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center text-center"> <img src="https://www.hackthebox.com/images/warning.svg"
            alt="warning" class="mb-3" height="40px"> </div>
        <h1 class="text-center">Adblock Detected</h1>
        <p class="text-center"> Please note that the Technical Support chat won't load if affected by any Ad or Script
          blockers. We request you to whitelist our connections in your adblocking plugin.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success color-gray-dark px-5 py-3 font-size-xxs dismissAdblockerBtn"
          data-dismiss="modal">
          GOT
          IT</button>
      </div>
    </div>
  </div>
</div>
<script>
  window.Laravel = { "csrfToken": "60iwiV4fBYrvUO2OL0N1UdFksfcIcWQl0Ol798PH", "apiToken": "KLEbfI25E5QAk3tnPE2JAU6NSVv8fifgpe4TjIPJ1MVBdF4LJt2cBaxJb9ha" }; 
</script>
<script src="/static/scripts/pusher.min.js"></script>
<script src="/js/app.js?id=4cab13874aa6c18ff376"></script>
<script src="/static/scripts/htb-backend.min.js"></script>
<script>
  function hasLocalStorage() { try { localStorage.setItem("test", '1'); localStorage.removeItem("test"); return true; } catch (e) { return false; } } setTimeout(function () { if (hasLocalStorage()) { if (localStorage.getItem("v2CTAhidden") === null) { $(".v2-cta-container").show(); } if (localStorage.getItem("socialExpanded") === null) { $("#social_nav").addClass("in") } else { let isSocialExpanded = JSON.parse(localStorage.getItem("socialExpanded")); let classIsMissing = !$("#social_nav").hasClass("in"); if (isSocialExpanded && classIsMissing) { $("#social_nav").addClass("in") } } } else { $("#social_nav").addClass("in") } }, 400); $("#socialLocalStorage").click(function () { if (hasLocalStorage()) { setTimeout(function () { var isSocialExpanded = $("#social_nav").hasClass("in"); localStorage.setItem("socialExpanded", isSocialExpanded); }, 400); } }); $("#acceptv2CTA").click(function (e) { if (hasLocalStorage()) { localStorage.setItem("v2CTAhidden", true); $(".v2-cta-container").hide(); } }); $("#closev2CTA").click(function (e) { e.preventDefault(); if (hasLocalStorage()) { localStorage.setItem("v2CTAhidden", true); $(".v2-cta-container").hide(); } }); var pusherWorker; var serviceWorkerEnabled = false; window.addEventListener('pusher_ready', function () {
    subscribeToEvent('notifications-channel', 'display-notifications', function (event) { notifyMe(event.data.title, event.data.body, event.data.icon, event.data.server); }); subscribeToEvent('private-conversation-1120396', 'update-conversation', function (event) {
      $('.notification-dot').fadeIn(200); var targetIndex = conversations.indexOf(conversations.find(x =>
        x.id === event.data.id)); if (targetIndex >
   = 0) { conversations.splice(targetIndex, 1); } conversations.unshift(event.data); updateConversationsMenu(); if (typeof updateConversations === 'function') { updateConversations('KLEbfI25E5QAk3tnPE2JAU6NSVv8fifgpe4TjIPJ1MVBdF4LJt2cBaxJb9ha'); } else {
      notificationSound.play(); var rawMessage = $('<textarea />
   ').html(event.data.lastmessage).text(); notifyMe(event.data.usernames.join(', '), rawMessage, event.data.avatarraw, ' * '); } }); }); $(document).ready(function () { setTimeout(function () { if (!localStorage.getItem("htb-adblockBannerDismissed") && localStorage.getItem("htb-adblockDetected") === 'true') { $('#adBlockModal').modal('toggle'); } }, 2000); $(".dismissAdblockerBtn").click(function () { localStorage.setItem('htb - adblockBannerDismissed', true); }); $(".logOut").click(function () { localStorage.removeItem("htb-adblockBannerDismissed"); localStorage.removeItem("htb-adblockDetected"); }); if (serviceWorkerEnabled) { navigator.serviceWorker.addEventListener('message', function (event) { if (event.data === "active" && !pusherWorker) { navigator.serviceWorker.getRegistration().then((registration) =>
   { pusherWorker = registration.active; pusherReady = true; if(pusherWorker) window.dispatchEvent(new Event('pusher_ready')); });
    } let eventToDispatch = new Event(`${event.data.channel}.${event.data.event}`); eventToDispatch.data = event.data.data; window.dispatchEvent(eventToDispatch);
  }); navigator.serviceWorker.getRegistration().then((registration) => {
    if (registration && registration.active) { pusherWorker = registration.active; pusherReady = true; window.dispatchEvent(new Event('pusher_ready')); } else {
      navigator.serviceWorker.register("/pusher_worker.js").then((registration) => {
        if (!pusherWorker) {
          navigator.serviceWorker.ready.then(() => { pusherWorker = registration.active; pusherReady = true; window.dispatchEvent(new Event('pusher_ready')); });
        }
      });
    }
  }); } else { Pusher.logToConsole = false; pusherWorker = new Pusher('97608bf7532e6f0fe898', { authEndpoint: '/pusher/auth', auth: { headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') } }, cluster: 'eu', encrypted: true }); let presence = pusherWorker.subscribe('private-presence-1120396'); pusherReady = true; window.dispatchEvent(new Event('pusher_ready')); } }); function subscribeToEvent(channel, event, callback) { if (serviceWorkerEnabled) { pusherWorker.postMessage({ type: 'subscribe', channel, event }); window.addEventListener(`${channel}.${event}`, function (innerEvent) { callback(innerEvent); }); } else { var channel = pusherWorker.subscribe(channel); channel.bind(event, function (innerEvent) { callback({ data: innerEvent }); }); } } var notificationSound = new Audio('https://www.hackthebox.com/sounds/notification.wav'); let recurlyAccountBalance = 0; function getRecurlyAccountBalance() {
    axios.get('/api/subscriptions/recurly/balance').then(response => {
      if (response.data.balance >
        0) {
        recurlyAccountBalance = response.data.balance; $("#recurlyBalanceControlPanel").show(); $("#recurlyBalanceControlPanel").html("You have <span class='text-info'>
   £" + escape(response.data.balance) + "</span >
        credit remaining in your account."); $("#recurlyBalanceSubscribeModal").html("You have < span class= 'text-info' >
   £" + escape(response.data.balance) + "</span >
        credit remaining in your account that will be applied to this subscription."); } }); } $("#subscribeModal").on("shown.bs.modal", function () { getRecurlyAccountBalance(); }); $("#userModal").on("shown.bs.modal", function () { getRecurlyAccountBalance(); }); $("input: radio[name = 'term']").change(function () { if (recurlyAccountBalance >
   0) {
          let cost = 0; if ($(this).val() === 'monthly') { cost = 10; } else if ($(this).val() === 'annually') { cost = 100; } if (recurlyAccountBalance >
   = cost) { $("#recurlyBalanceSubscribeModal").show(); } else { $("#recurlyBalanceSubscribeModal").hide(); }
  } }); 
</script>
<script src="/vendor/terminal/jquery.terminal-1.4.2.min.js"></script>
<script src="/vendor/terminal/jquery.mousewheel-min.js"></script>
<script src="/vendor/bootstrap3-typeahead/bootstrap3-typeahead.min.js"></script>
<script>
  function notifyMe(title, body, icon, server) { if (!("Notification" in window)) { console.log("This browser does not support desktop notifications"); } else if (Notification.permission === "granted") { if (server == 'eu-free-3') { var notification = new Notification(title, { "tag": "HackTheBox", "icon": icon, "body": body }); } if (server == '*') { var notification = new Notification(title, { "tag": "HackTheBox", "icon": icon, "body": body }); } } else if (Notification.permission !== 'denied') { Notification.requestPermission(function (permission) { if (!('permission' in Notification)) { Notification.permission = permission; } if (permission === "granted") { var notification = new Notification(); notification.show(); } }); } } $("#markAlertRead").click(function (e) { e.preventDefault(); $.ajax({ type: "POST", url: '/api/alert/read?api_token=KLEbfI25E5QAk3tnPE2JAU6NSVv8fifgpe4TjIPJ1MVBdF4LJt2cBaxJb9ha', }); }); $("#markAlertReadAdblock").click(function (e) { e.preventDefault(); $.ajax({ type: "POST", data: { adblock: true }, dataType: "json", url: '/api/alert/read?api_token=KLEbfI25E5QAk3tnPE2JAU6NSVv8fifgpe4TjIPJ1MVBdF4LJt2cBaxJb9ha', }); }); function sendFeedback() { $.ajax({ type: "POST", data: { "text": $('#feedbackText').val() }, dataType: "json", url: '/api/suggestions/post?api_token=KLEbfI25E5QAk3tnPE2JAU6NSVv8fifgpe4TjIPJ1MVBdF4LJt2cBaxJb9ha', success: function (response) { $('#feedbackText').val(''); $('#feedbackModal').modal('hide'); }, error: function (response) { console.log(response) } }); } function setInitialMemberFinderValues() { $('#memberFinderText').val(""); $('#memberFinderLink').html(''); } function getMemberId(name) {
    $.ajax({
      type: "POST", dataType: "json", data: { username: name }, url: '/api/user/id?api_token=KLEbfI25E5QAk3tnPE2JAU6NSVv8fifgpe4TjIPJ1MVBdF4LJt2cBaxJb9ha', beforeSend: function () { }, complete: function () { }, success: function (response) {
        $('#memberFinderLink').html('<a href="/home/users/profile/' + response.id + '" target="_blank">
   ' + response.username + '</a >
        '); }, error: function (response) { $('#memberFinderLink').html('not found : ('); console.log(response); } }); } $('#memberFinderText').typeahead({ source: function (query, process) { return $.post(' / api / users / find ? api_token = KLEbfI25E5QAk3tnPE2JAU6NSVv8fifgpe4TjIPJ1MVBdF4LJt2cBaxJb9ha', { name: query }, function (data) { return process(data.users); }); }, updater: function (item) { getMemberId(item); return item; } }); function copyID(e) { e.stopPropagation(); var text = 1120396; navigator.clipboard.writeText(text).then(function () { }, function (err) { console.error('Could not copy text: ', err); }); } function getSubscriptionModal() { $.ajax({ type: "POST", dataType: "json", url: ' / api / subscriptions / snippet ? api_token = KLEbfI25E5QAk3tnPE2JAU6NSVv8fifgpe4TjIPJ1MVBdF4LJt2cBaxJb9ha', success: function (response) { $('.subscriptionSpinner').each(function () { $(this).remove(); }); $('.subscriptionInfo').each(function () { $(this).html(response.responseText); }); }, error: function (response) { $('.subscriptionSpinner').each(function () { $(this).remove(); }); $('.subscriptionInfo').each(function () { $(this).html(response.responseText); }); } }); } function getfreeSlots() { $.ajax({ type: "POST", dataType: "json", url: ' / api / vpnserver / freeslots ? api_token = KLEbfI25E5QAk3tnPE2JAU6NSVv8fifgpe4TjIPJ1MVBdF4LJt2cBaxJb9ha', success: function (response) { if (response.success == 1) { $('#freeEUSlots').html(response.eu); $('#freeUSSlots').html(response.us); } else console.log(response); }, error: function (response) { console.log(response); } }); } $(document).ready(function () { getfreeSlots(); $('input[type = radio][name = term]').change(function () { if (this.value == 'monthly') { $('#chargedNow').html('£10.00 GBP'); $('#recurringCharge').html('£10.00 GBP'); $('#recurringPeriod').html('month'); } if (this.value == 'annually') { $('#chargedNow').html('£100.00 GBP'); $('#recurringCharge').html('£100.00 GBP'); $('#recurringPeriod').html('year'); } }); }); $("#cancellationReason").keyup(function () { var chars = 255 - $(this).val().length; $("#cancellationCount").text(chars); if (chars < 0) { $("#cancellationBtn").attr('disabled', 'disabled'); $("#cancellationCount").attr('class', 'small text - danger'); } else { $("#cancellationBtn").removeAttr('disabled'); $("#cancellationCount").attr('class', 'small text - success'); } }); $("#feedbackText").keyup(function () { var chars = 255 - $(this).val().length; $("#feedbackCount").text(chars); if (chars < 0) { $("#feedbackBtn").attr('disabled', 'disabled'); $("#feedbackCount").attr('class', 'small text - danger'); } else { $("#feedbackBtn").removeAttr('disabled'); $("#feedbackCount").attr('class', 'small text - success'); } }); var voucherRequest; $("#voucherCode").keyup(function () { var voucherCode = $("#voucherCode").val(); clearTimeout(voucherRequest); voucherRequest = setTimeout(function () { $.ajax({ type: "GET", dataType: "json", url: ' / api / vouchers ? api_token = KLEbfI25E5QAk3tnPE2JAU6NSVv8fifgpe4TjIPJ1MVBdF4LJt2cBaxJb9ha & voucherCode=' + $("#voucherCode").val(), success: function (response) { if (response.status == 1) { $("#redeemBtn").prop("disabled", false); $("#voucherDetails").html(' < i class= "fas fa-check text-success" >
   </i >
          ' + response.details); } else { $("#redeemBtn").prop("disabled", true); $("#voucherDetails").html(response.details ? ' < i class= "fas fa-times text-danger" >
   </i >
          ' + response.details : ''); } }, error: function (response) { console.log(response); } }); }, 300); }); var rating = 0; function rateStar(num) { if (num <= 5) { fillStars(num); } } function fillStars(num) { $('#ratingLabel').attr('class', ''); rating = num; for (i = 1; i <= num; i++) { $('#star' + i).attr('class', 'fas fa - star text - gold'); } for (i = num + 1; i <= 5; i++) { $('#star' + i).attr('class', 'far fa - star'); } } $("#reviewText").keyup(function () { var chars = 255 - $(this).val().length; $("#reviewCount").text(chars); if (chars < 0 || chars >
   205) { $("#publishBtn").attr('disabled', 'disabled'); $("#reviewCount").attr('class', 'small text-danger'); } else { $("#publishBtn").removeAttr('disabled'); $("#reviewCount").attr('class', 'small text-success'); }
    }); $("#reviewName").keyup(function () { $('#reviewName').attr('style', ''); }); function publishReview() {
      if (rating < 1 || rating >
        5) { $('#ratingLabel').attr('class', 'text-danger'); } if ($('#reviewName').val() == '') { $('#reviewName').attr('style', 'border: 1px dashed red'); } if (!$('#publish').is(":checked")) { console.log('not!'); $('#publishLabel').attr('class', 'text-danger'); } var data = { "name": $('#reviewName').val(), "text": $('#reviewText').val(), "rating": rating, "publish": $('#publish').is(":checked") }; $.ajax({ type: "POST", data: data, dataType: "json", url: '/api/testimonials/publish?api_token=KLEbfI25E5QAk3tnPE2JAU6NSVv8fifgpe4TjIPJ1MVBdF4LJt2cBaxJb9ha', beforeSend: function () { }, complete: function () { }, success: function (response) { console.log(response); if (response.success == 1) { $('#testimonialLink').remove(); $('#testimonialLink-mobile').remove(); $('#testimonialModal').modal('hide'); } }, error: function (response) { console.log(response); } });
    } 
</script>
<script>
     let conversations = []; $(document).ready(function () { loadConversations(); }); function loadConversations() { $.ajax({ type: "POST", url: '/api/conversations/list/?api_token=KLEbfI25E5QAk3tnPE2JAU6NSVv8fifgpe4TjIPJ1MVBdF4LJt2cBaxJb9ha', success: function (response) { var hasUnread = false; conversations = response; $('#pm-list').empty(); conversations.slice(0, 5).forEach(function (conversation, index) { if (conversation.unread) { hasUnread = true; } }); if (hasUnread) { $('.notification-dot').fadeIn(200); } updateConversationsMenu(); if (typeof updateConversations === 'function') { updateConversations('KLEbfI25E5QAk3tnPE2JAU6NSVv8fifgpe4TjIPJ1MVBdF4LJt2cBaxJb9ha'); if (window.location.hash) { loadConversation(parseInt(window.location.hash.substr(1)), 'KLEbfI25E5QAk3tnPE2JAU6NSVv8fifgpe4TjIPJ1MVBdF4LJt2cBaxJb9ha'); } } }, error: function (response) { } }); } function updateConversationsMenu() {
       $('#pm-list').empty(); $('#pm-list-mobile').empty(); conversations.slice(0, 5).forEach(function (conversation, index) {
         var conversationTitle = ''; if (conversation.name.length == 0) { conversationTitle = conversation.usernames.join(', '); } else { conversationTitle = conversation.name; } $('#pm-list').append('<div class="conversation-preview cursor-pointer" onclick="menuLoadConversation(' + conversation.id + ')">
   ' + ' < div class= "conversation-preview-avatar pull-left" >
         ' + ' ' + conversation.avatar + ' </div >
         ' + ' < div class= "conversation-preview-content" >
         ' + ' < div class= "conversation-preview-details" >
         ' + ' < div class= "conversation-preview-author c-white" >
         ' + conversationTitle + '</div >
         ' + ' </div >
         ' + ' < div class= "conversation-preview-message-container m-r-md" >
         ' + ' < div class= "conversation-preview-message" >
         ' + ' ' + conversation.lastmessage + ' </div >
         ' + ' </div >
         ' + ' </div >
         ' + '</div >
         '); $('#pm - list - mobile').append(' < div class= "conversation-preview cursor-pointer" onclick = "menuLoadConversation(' + conversation.id + ')" >
         ' + ' < div class= "conversation-preview-avatar pull-left" >
         ' + ' ' + conversation.avatar + ' </div >
         ' + ' < div class= "conversation-preview-content" >
         ' + ' < div class= "conversation-preview-details" >
         ' + ' < div class= "conversation-preview-author c-white" >
         ' + conversationTitle + '</div >
         ' + ' </div >
         ' + ' < div class= "conversation-preview-message-container m-r-md" >
         ' + ' < div class= "conversation-preview-message" >
         ' + ' ' + conversation.lastmessage + ' </div >
         ' + ' </div >
         ' + ' </div >
         ' + '</div >
         '); }); } function menuLoadConversation(id) { if (typeof loadConversation === 'function') { loadConversation(id, 'ident'); } else { window.location.href = '/' + id; } } $('body').on('hidden.bs.modal', function () { if ($('.modal.in').length >
           0) { $('body').addClass('modal-open'); }
       }); $("#reason_list").on("change", () => {
         let optionName = $("#reason_list option:selected").val(); let reason_textarea = $("#reason_textarea"); $("#cancelForm").attr("action", "/home/unsubscribe"); $("#cancellationBtn").text("Cancel Subscription"); if (optionName == "4" || optionName == "6") { /* Issues with service - Other */ reason_textarea.fadeTo(500, 1); } else {
           if (reason_textarea.css("display") !== "none") {
             reason_textarea.fadeTo(500, 0, () => { reason_textarea.css("display", "none"); });
           }
         }
       });  
</script>
<script src="/static/scripts/htb-map.min.js"></script>