<!DOCTYPE html>
<html lang="en" class="spectrum spectrum--medium spectrum--light">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- STYLE -->

    <link rel="stylesheet" href="/static/htb-backend.css">
    <script src="/static/scripts/jquery.js"></script>

    <!-- ICON -->
    <link rel="icon" href="/static/favicon.ico">
    <title>ROUTER CMS</title>
</head>
<body>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>