{% extends 'base.html' %}

{% block content %}
<body>

    <div class="container">
      <div class="header">
        <!-- <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav> -->
        <h3 class="text-muted">Accès internet</h3>
      </div>

      <div class="jumbotron">
        <h1>Connection requise</h1>
        <p class="lead">Une connection est requise pour avoir un accès à internet dans le but de filtrer les gens qui passent et comme ça, je peux aussi faire un historique des appareils.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Lezgoooo</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-12">
          <h4>Filtre</h4>
          <p>Les gens qui se connectent sur ce réseau local peuvent faire des choses assez vilaines et on veux pas d'eux ici.</p>

          <h4>Historique</h4>
          <p>Je peux voir les connections qui se font afin de voir, si il se passe quelque chose de pas net, si ça coïncide avec l'arriver d'un(e) mafieux(se).</p>

          <h4>Bannissement</h4>
          <p>Ce qui nous mène parfois à bannir des gens qui font n'importe quoi sur le réseau.</p>
        </div>
      </div>

      <footer class="footer">
        <p><span onclick="lauch_contact()" class="text-primary"  data-toggle="modal" data-target="#testimonialModal">martinzerty</span>, propriétaire de ce réseau.</p>
      </footer>
      <div class="modal fade" id="testimonialModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title">Leave your Testimonial!</h4>
              <small>We will display this to the public part of our
                website. We will include the name and text you enter here <span class="c-white">along with your avatar and
                  username.</span></small>
            </div>
            <div class="modal-body">
              <span id="ratingLabel">Rating:</span> <i class="far fa-star" id="star1" onclick="rateStar(1)"
                style="cursor: pointer"></i> <i class="far fa-star" id="star2" onclick="rateStar(2)"
                style="cursor: pointer"></i> <i class="far fa-star" id="star3" onclick="rateStar(3)"
                style="cursor: pointer"></i> <i class="far fa-star" id="star4" onclick="rateStar(4)"
                style="cursor: pointer"></i> <i class="far fa-star" id="star5" onclick="rateStar(5)"
                style="cursor: pointer"></i> <br> <br> <input type="text" class="form-control" id="reviewName"
                placeholder="Type your name here... (eg. John M.) !DO NOT TYPE YOUR USERNAME!" data-toggle="tooltip" title=""
                data-original-title="This will appear publicly!"> <br>
              <textarea id="reviewText" class="form-control" rows="3"
                placeholder="Write a small testimonial here... 50-255 chars"></textarea>
              <span id="reviewCount" class="small text-danger">255</span>
              <div class="checkbox checkbox-success"> <input name="publish" id="publish" class="styled" type="checkbox">
                <label for="publish" id="publishLabel"> I understand that this will be available publicly. </label>
              </div>
            </div>
            <div class="modal-footer"> <button type="button" class="btn btn-success" id="publishBtn" onclick="publishReview()"
                disabled="">Publish</button> <button type="button" class="btn btn-default" data-dismiss="modal"><i
                  class="far fa-times"></i></button> </div>
          </div>
        </div>
      </div>
<script>
    function lauch_contact(){
        $('#testimonialModal').modal('show')
    }
</script>
</body>
{% endblock %}