{% extends 'base.html' %}

{% block content %}

<body class="blank" style="overflow-y:hidden;background-color:#141d2b!important; ">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
        {% for category, message in messages %}
        <div class="alert alert-{{category}}" role="alert">
            {{message}}
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="wrapper">
        <section class="content" style="margin:0px; padding:0px;">
            <div class="container-center animated slideInDown centerbox">
                <div class="view-header">
                    <div class="header-icon"> <i class="pe page-header-icon pe-7s-key"></i> </div>
                    <div class="header-title">
                        <h1 style="font-size:24px; margin-bottom:2px;">Connection</h1> <small>Il semble que vous devriez
                            vous connecter...</small>
                    </div>
                </div>
                <div class="panel panel-filled">
                    <div class="panel-body">
                        <form id="loginForm" role="form" method="POST">
                            <input type="hidden" name="_token" value="AbqqphhIlD974t9LaRzOAPsa4Zicul5sTkrNmj4W"> <input
                                type="hidden" id="assessment" name="assessment" value="">
                            <div class="form-group ">
                                <label class="control-label" for="email">Username</label>
                                <input type="text" placeholder="" required="" value="" name="username" id="username"
                                    class="form-control">
                            </div>
                            <div class="form-group ">
                                <label class="control-label" for="email">Mot de passe</label>
                                <input type="password" placeholder="" required="" value="" name="password" id="password"
                                    class="form-control">
                            </div>
                            <div class="row">
                                <div class="col-md-6"> </div>
                                <div class="col-md-6">
                                    <div> <button class="btn btn-accent pull-right">Se Connecter</button> </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div> <br>
            </div>
            <div id="waves" style="position:fixed;top:0;left:0;right:0;bottom:0;z-index:-1;"><canvas
                    style="width: 1478px; height: 199px;" width="2956" height="398"></canvas></div>
        </section>
    </div>
</body>
{% endblock %}