{% extends 'base.html' %}
{% block content %}
<p class="h2-mktg">Routeur CMS <span class="color-fg-open mb-2">en marche</span></p>
<div class="Subhead">
    <h2 class="Subhead-heading">Accès routeur restreint</h2>
    <div class="Subhead-description">L'accès aux paramètres routeur et aux données confidentielles est restreint.</div>
  </div>
<div class="Box Box--spacious col-4 mx-auto">
    <form action="/login" method="post">
        <div class="Box-body">
            <h3 class="f1-light text-center">
                Connexion
            </h3>
            <div class="form-group mb-4">
                <div class="form-group-header">
                    <label>Qui est-vous ?</label>
                </div>
                <div class="form-group-body">
                    <input class="form-control input-block" type="text" name="username"/>
                </div>
            </div>
            <div class="form-group mb-4">
                <div class="form-group-header">
                    <label>Mot de passe ?</label>
                </div>
                <div class="form-group-body">
                    <input class="form-control input-block" type="password" name="password" />
                </div>
            </div>
            <button class="btn btn-primary btn-block">
                Submit
            </button>
        </div>
    </form>
</div>
{% endblock %}