{% extends 'base-admin.html' %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="view-header">
        <div class="pull-right"> <small>Router CMS<br>Dashboard<br> <span
              class="c-white">2.19.0</span></small> </div>
        <div class="header-title">
          <h3>Router CMS</h3>
          <small> Ce CMS de router est en état de <span>marche</span>. Il vous permet de vous connecter, changer des paramètre, accèder aux dossiers partager. </small>
        </div>
      </div>
      <hr>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <div class="panel panel-filled panel-cta" stlye="border:1px solid red!important">
        <div class="panel-body text-center m-t-lg m-b-lg">
          <a href="https://www.hackthebox.com/home/htb/access">
            <i class="fas fa-chart-network" style="font-size:64px"></i>
            <h3 class="m-t-lg">VPN Connection</h3>
            <p>Télécharger le paquet de connections<br>pour acceder au VPN</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="panel panel-filled panel-cta" stlye="border:1px solid red!important">
        <div class="panel-body text-center m-t-lg m-b-lg">
          <a href="https://www.hackthebox.com/home/machines">
            <i class="fas fa-computer-classic" style="font-size:64px"></i>
            <h3 class="m-t-lg">Machines</h3>
            <p>Accès aux paramètres<br>de ce router</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="panel panel-filled panel-cta">
        <div class="panel-body text-center m-t-lg m-b-lg">
          <a href="https://www.hackthebox.com/home/challenges/Web">
            <i class="fas fa-sliders-h-square" style="font-size:64px"></i>
            <h3 class="m-t-lg">Paramètres</h3>
            <p>Accès aux paramètres<br>du router et des services</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="panel panel-filled panel-cta">
        <div class="panel-body text-center m-t-lg m-b-lg">
          <a href="https://academy.hackthebox.eu/" target="_blank">
            <i class="fas fa-history" style="font-size:64px"></i>
            <h3 class="m-t-lg">Logging</h3>
            <p>Accès au logging du router et de<br>tous les services de cet appareil</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-xs-6">
      <div class="panel panel-filled">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4"> <i class="pe pe-7s-display1" style="font-size: 48px;"></i> </div>
            <div class="col-sm-8">
              <h2 class="m-n" id="machines">294</h2>
              <div class="small">Machines</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-xs-6">
      <div class="panel panel-filled">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4"> <i class="pe pe-7s-users" style="font-size: 48px;"></i> </div>
            <div class="col-sm-8">
              <h2 class="m-n" id="sessions">691</h2>
              <div class="small">Online Members</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-xs-6">
      <div class="panel panel-filled">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4"> <i class="pe pe-7s-network" style="font-size: 48px;"></i> </div>
            <div class="col-sm-8">
              <h2 class="m-n" id="vpn">1653</h2>
              <div class="small">Connections</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-xs-6">
      <div class="panel panel-filled">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4"> <i class="pe pe-7s-share" style="font-size: 48px;"></i> </div>
            <div class="col-sm-8">
              <h2 class="m-n"> <span id="latency">1.09</span><span class="slight">ms</span> </h2>
              <div class="small">Response Time</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xs-12">
      <div class="panel panel-filled" style="position:relative;">
        <div style="position: absolute;bottom: 0;left: 0;right: 0; z-index: -1">
          <span class="sparkline">
            <canvas style="display: inline-block; width: 413px; height: 70px; vertical-align: top;" width="413"
              height="70"></canvas>
          </span>
        </div>
        <div class="panel-body">
          <div class="m-t-sm">
            <div class="c-white">37198 New Members</div>
            <span class="small c-white">1138764 Members <i class="far fa-play fa-rotate-270 text-accent"> </i>
              3%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row flex">
    <div class="col-xlg-3 col-lg-6 col-md-6">
      <div class="panel panel-filled">
        <div class="panel-heading"><i class="far fa-globe"></i> VPN Origins</div>
        <div class="panel-body"> </div>
      </div>
    </div>
    <div class="col-xlg-3 col-lg-6 col-md-6">
      <div class="panel panel-filled" style="height: 229px">
        <div class="panel-heading"><i class="far fa-crosshairs"></i> Attack Map</div>
        <div class="panel-body" id="map-container">
          <a href="https://www.hackthebox.com/home/map">
            <canvas id="map" style="" width="601" height="159"></canvas>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xlg-3 col-lg-6 col-md-6">
      <div class="panel panel-filled">
        <div class="panel-heading"><i class="far fa-users"></i> Top Teams</div>
        <div class="panel-body"> <span class=""><img alt="image" class="img-rounded image-xs "
              src="https://www.hackthebox.com/storage/teams/52d080a3e172c33fd6886a37e7288491.jpg">&nbsp;<a
              href="https://www.hackthebox.com/home/teams/profile/1709">WinBARs</a> <span
              class="text-success pull-right"><i class="far fa-crosshairs"></i> 3454</span> <span
              class="text-info pull-right"><i class="far fa-user"></i> 55&nbsp;</span> </span> <br> <span
            class=""><img alt="image" class="img-rounded image-xs "
              src="https://www.hackthebox.com/storage/teams/6a5dfac4be1502501489fc0f5a24b667.jpg">&nbsp;<a
              href="https://www.hackthebox.com/home/teams/profile/1750">TheATeam</a> <span
              class="text-success pull-right"><i class="far fa-crosshairs"></i> 3355</span> <span
              class="text-info pull-right"><i class="far fa-user"></i> 6&nbsp;</span> </span> <br> <span
            class=""><img alt="image" class="img-rounded image-xs "
              src="https://www.hackthebox.com/storage/teams/9f396fe44e7c05c16873b05ec425cbad.jpg">&nbsp;<a
              href="https://www.hackthebox.com/home/teams/profile/673">AlphaPwners</a> <span
              class="text-success pull-right"><i class="far fa-crosshairs"></i> 3102</span> <span
              class="text-info pull-right"><i class="far fa-user"></i> 19&nbsp;</span> </span> <br> <span
            class=""><img alt="image" class="img-rounded image-xs "
              src="https://www.hackthebox.com/storage/teams/8232e119d8f59aa83050a741631803a6.jpg">&nbsp;<a
              href="https://www.hackthebox.com/home/teams/profile/2102">CommandlineKings</a> <span
              class="text-success pull-right"><i class="far fa-crosshairs"></i> 2953</span> <span
              class="text-info pull-right"><i class="far fa-user"></i> 179&nbsp;</span> </span> <br> <span
            class=""><img alt="image" class="img-rounded image-xs "
              src="https://www.hackthebox.com/storage/teams/cf63547fadc1aa6e897a62291e0cb124.jpg">&nbsp;<a
              href="https://www.hackthebox.com/home/teams/profile/4889">ActivateWindows</a> <span
              class="text-success pull-right"><i class="far fa-crosshairs"></i> 2832</span> <span
              class="text-info pull-right"><i class="far fa-user"></i> 9&nbsp;</span> </span> <br> <span
            class=""><img alt="image" class="img-rounded image-xs "
              src="https://www.hackthebox.com/storage/teams/17eb7ecc4c38e4705361cccd903ad8c6.jpg">&nbsp;<a
              href="https://www.hackthebox.com/home/teams/profile/2914">TargetRoot</a> <span
              class="text-success pull-right"><i class="far fa-crosshairs"></i> 2800</span> <span
              class="text-info pull-right"><i class="far fa-user"></i> 14&nbsp;</span> </span> <br> <span
            class=""><img alt="image" class="img-rounded image-xs "
              src="https://www.hackthebox.com/storage/teams/37968ad196a5085f5ed91e58df8c2cef.jpg">&nbsp;<a
              href="https://www.hackthebox.com/home/teams/profile/3804">7h3B14ckKn1gh75</a> <span
              class="text-success pull-right"><i class="far fa-crosshairs"></i> 2562</span> <span
              class="text-info pull-right"><i class="far fa-user"></i> 30&nbsp;</span> </span> <br> <span
            class=""><img alt="image" class="img-rounded image-xs "
              src="https://www.hackthebox.com/storage/teams/0777acff7c9ab34562699e4e1d05affb.jpg">&nbsp;<a
              href="https://www.hackthebox.com/home/teams/profile/4142">F4CK</a> <span
              class="text-success pull-right"><i class="far fa-crosshairs"></i> 2080</span> <span
              class="text-info pull-right"><i class="far fa-user"></i> 2&nbsp;</span> </span> <br> </div>
      </div>
    </div>
    <div class="col-xlg-3 col-lg-6 col-md-6">
      <div class="panel panel-filled">
        <div class="panel-body">
          <div class="text-center slight"> </div>
          <div class="flot-chart" style="height: 80px;margin-top: 5px">
            <div class="flot-chart-content" id="root-owns-chart" style="padding: 0px; position: relative;">
              <canvas class="flot-base"
                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 601px; height: 80px;"
                width="1202" height="160"></canvas>
              <div class="flot-text"
                style="position: absolute; inset: 0px; font-size: smaller; color: rgb(84, 84, 84);">
                <div class="flot-x-axis flot-x1-axis xAxis x1Axis"
                  style="position: absolute; inset: 0px; display: block;">
                  <div style="position: absolute; max-width: 85px; top: 63px; left: 43px; text-align: center;"
                    class="flot-tick-label tickLabel">0</div>
                  <div style="position: absolute; max-width: 85px; top: 63px; left: 137px; text-align: center;"
                    class="flot-tick-label tickLabel">5</div>
                  <div style="position: absolute; max-width: 85px; top: 63px; left: 229px; text-align: center;"
                    class="flot-tick-label tickLabel">10</div>
                  <div style="position: absolute; max-width: 85px; top: 63px; left: 323px; text-align: center;"
                    class="flot-tick-label tickLabel">15</div>
                  <div style="position: absolute; max-width: 85px; top: 63px; left: 417px; text-align: center;"
                    class="flot-tick-label tickLabel">20</div>
                  <div style="position: absolute; max-width: 85px; top: 63px; left: 512px; text-align: center;"
                    class="flot-tick-label tickLabel">25</div>
                </div>
                <div class="flot-y-axis flot-y1-axis yAxis y1Axis"
                  style="position: absolute; inset: 0px; display: block;">
                  <div style="position: absolute; top: 50px; left: 0px; text-align: right;"
                    class="flot-tick-label tickLabel">1430000</div>
                  <div style="position: absolute; top: 37px; left: 0px; text-align: right;"
                    class="flot-tick-label tickLabel">1440000</div>
                  <div style="position: absolute; top: 25px; left: 0px; text-align: right;"
                    class="flot-tick-label tickLabel">1450000</div>
                  <div style="position: absolute; top: 13px; left: 0px; text-align: right;"
                    class="flot-tick-label tickLabel">1460000</div>
                  <div style="position: absolute; top: 1px; left: 0px; text-align: right;"
                    class="flot-tick-label tickLabel">1470000</div>
                </div>
              </div>
              <canvas class="flot-overlay"
                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 601px; height: 80px;"
                width="1202" height="160"></canvas>
            </div>
          </div>
          <div class="small text-center">System flags submitted (last 30 days)</div>
          <div class="flot-chart" style="height: 80px;margin-top: 5px">
            <div class="flot-chart-content" id="user-owns-chart" style="padding: 0px; position: relative;">
              <canvas class="flot-base"
                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 601px; height: 80px;"
                width="1202" height="160"></canvas>
              <div class="flot-text"
                style="position: absolute; inset: 0px; font-size: smaller; color: rgb(84, 84, 84);">
                <div class="flot-x-axis flot-x1-axis xAxis x1Axis"
                  style="position: absolute; inset: 0px; display: block;">
                  <div style="position: absolute; max-width: 85px; top: 63px; left: 43px; text-align: center;"
                    class="flot-tick-label tickLabel">0</div>
                  <div style="position: absolute; max-width: 85px; top: 63px; left: 137px; text-align: center;"
                    class="flot-tick-label tickLabel">5</div>
                  <div style="position: absolute; max-width: 85px; top: 63px; left: 229px; text-align: center;"
                    class="flot-tick-label tickLabel">10</div>
                  <div style="position: absolute; max-width: 85px; top: 63px; left: 323px; text-align: center;"
                    class="flot-tick-label tickLabel">15</div>
                  <div style="position: absolute; max-width: 85px; top: 63px; left: 417px; text-align: center;"
                    class="flot-tick-label tickLabel">20</div>
                  <div style="position: absolute; max-width: 85px; top: 63px; left: 512px; text-align: center;"
                    class="flot-tick-label tickLabel">25</div>
                </div>
                <div class="flot-y-axis flot-y1-axis yAxis y1Axis"
                  style="position: absolute; inset: 0px; display: block;">
                  <div style="position: absolute; top: 50px; left: 0px; text-align: right;"
                    class="flot-tick-label tickLabel">1590000</div>
                  <div style="position: absolute; top: 37px; left: 0px; text-align: right;"
                    class="flot-tick-label tickLabel">1600000</div>
                  <div style="position: absolute; top: 25px; left: 0px; text-align: right;"
                    class="flot-tick-label tickLabel">1610000</div>
                  <div style="position: absolute; top: 13px; left: 0px; text-align: right;"
                    class="flot-tick-label tickLabel">1620000</div>
                  <div style="position: absolute; top: 1px; left: 0px; text-align: right;"
                    class="flot-tick-label tickLabel">1630000</div>
                </div>
              </div>
              <canvas class="flot-overlay"
                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 601px; height: 80px;"
                width="1202" height="160"></canvas>
            </div>
          </div>
          <div class="small text-center">User flags submitted (last 30 days)</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}