{% extends 'base-admin.html' %}

{% block content %}

<div class="container-fluid">
    <div class="modal fade" id="leaveConversationModal" tabindex="-1" role="dialog" aria-hidden="true"
        style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title">Leave Conversation?</h4> <small>Are you sure you wish to leave this
                        conversation?</small><br>
                </div>
                <div class="modal-body"> Conversation: <span id="conversation-leave-users"></span> </div>
                <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal"
                        onclick="leaveConversation('KLEbfI25E5QAk3tnPE2JAU6NSVv8fifgpe4TjIPJ1MVBdF4LJt2cBaxJb9ha')"><i
                            class="far fa-check"></i></button> <button type="button" class="btn btn-default"
                        data-dismiss="modal"><i class="far fa-times"></i></button> </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteMessageModal" tabindex="-1" role="dialog" aria-hidden="true"
        style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title">Delete Message?</h4> <small>Are you sure you wish to delete this
                        message?</small><br>
                </div>
                <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal"
                        onclick="deleteMessage('KLEbfI25E5QAk3tnPE2JAU6NSVv8fifgpe4TjIPJ1MVBdF4LJt2cBaxJb9ha')"><i
                            class="far fa-check"></i></button> <button type="button" class="btn btn-default"
                        data-dismiss="modal"><i class="far fa-times"></i></button> </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="renameConversationModal" tabindex="-1" role="dialog" aria-hidden="true"
        style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title">Rename Conversation</h4> <small>Leave blank to remove conversation
                        name</small><br>
                </div>
                <div class="modal-body"> Rename conversation to: <br><input type="text" maxlength="32"
                        name="renameConvoInput" id="renameConvoInput" class="form-control"> </div>
                <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal"
                        onclick="renameConversation('KLEbfI25E5QAk3tnPE2JAU6NSVv8fifgpe4TjIPJ1MVBdF4LJt2cBaxJb9ha')"><i
                            class="far fa-check"></i></button> <button type="button" class="btn btn-default"
                        data-dismiss="modal"><i class="far fa-times"></i></button> </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="view-header">
                <div class="pull-right text-right" style="line-height: 14px"> <small>Hack The Box<br>Messages<br> <span
                            class="c-white">2.19.0</span></small> </div>
                <div class="header-icon"> <i class="pe page-header-icon pe-7s-note2"></i> </div>
                <div class="header-title">
                    <h3 class="m-b-xs">Messages</h3> <small> Message other users or start a group conversation </small>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4" id="conversation-list-container">
            <div class="panel panel-filled">
                <div class="panel-heading"> <i class="far fa-comments"></i> Conversations </div>
                <div class="panel-body">
                    <div class="btn btn-block btn-default" id="conversation-compose">New Message</div><br>
                    <div class="scrollbar-inner" id="conversation-overflow-target">
                        <div id="conversation-list"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8" id="conversation-body"> <span
                class="text-success m-l-md cursor-pointer" id="back-button" onclick="backButton()"><i
                    class="far fa-arrow-left"></i> Back</span>
            <div class="conversation-compose">
                <div class="panel">
                    <div class="panel-body">
                        <div class="m-b-md m-l-sm" id="conversation-compose-users">To: </div> <input type="text"
                            class="form-control conversation-to m-l-md" value="" id="username" autocomplete="off"
                            placeholder="Enter username...">
                        <div style="height: 500px"> </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-10"> <input type="text" class="form-control" id="conversation-text-new"
                                    placeholder="Type your message here..." style="display: none;">
                                <div id="container-text-new">
                                    <div class="emojionearea form-control emojionearea-inline" role="application">
                                        <div class="emojionearea-editor" placeholder="Type your message here..."
                                            tabindex="0" dir="ltr" spellcheck="false" autocomplete="off"
                                            autocorrect="off" autocapitalize="none" contenteditable="true"></div>


                                    </div>
                                </div>
                                <div class="col-xs-2"> <button
                                        onclick="sendMessage('KLEbfI25E5QAk3tnPE2JAU6NSVv8fifgpe4TjIPJ1MVBdF4LJt2cBaxJb9ha')"
                                        type="button" class="btn btn-default btn-block btn-send"><i
                                            class="far fa-paper-plane"></i></button> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}